<%= content_for :body_class%>
<% content_for :page_title, "Components - UXZero" %>
  <% content_for :page_description, "Component Directory - UXZero." %>
    <body>
      <main>

        <h1 class="text-4xl font-extrabold mx-auto text-center mt-10">Profile Components</h1>

        <section id="profile-card-vertical">
          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Vertical Profile Card
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A profile card for your users
              </h2>
              <button class="btn bg-white" data-clipboard-text="1">
                <ion-icon name="copy"></ion-icon>
                CSS</button>
              <button class="btn bg-white" data-clipboard-text="2">
                <ion-icon name="copy"></ion-icon>
                Tailwind</button>
              <button class="btn bg-white" data-clipboard-text="3">
                <ion-icon name="copy"></ion-icon>
                Bootstrap</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <div class="card card--light mb-8 content-center text-center justify-center max-w-sm float-right w-full align-top">
                <div class="card__content text-center">
                  <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE1ODA0OTcxOTUyMDE0ODYx/elon-musk-20837159-1-402.png" class="w-32 rounded-full  inline-block mb-4">
                  <h3 class="mb-0 text-xl font-bold mb-2">Elon Musk</h3>
                  <h3 class="mb-0 text-lg font-semibold mb-4">Founder</h3>
                  <img src="https://logos-download.com/wp-content/uploads/2016/03/Tesla_logo_silver.png" class="mx-auto w-24 mb-4">
                  <%= link_to "Visit Profile", "#", target: "blank", class: "btn bg-white" %>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="profile-card-vertical">
          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Horizontal Profile Card
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A profile page for more in-depth info
              </h2>
              <button class="btn bg-white" data-clipboard-text="1">
                <ion-icon name="copy"></ion-icon>
                CSS</button>
              <button class="btn bg-white" data-clipboard-text="2">
                <ion-icon name="copy"></ion-icon>
                Tailwind</button>
              <button class="btn bg-white" data-clipboard-text="3">
                <ion-icon name="copy"></ion-icon>
                Bootstrap</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <div class="card card--light mb-8 content-center text-center justify-center max-w-xl float-right w-full align-top">
                <div class="card__content text-center">
                  <div class="w-1/4 inline-block align-middle hidden sm:inline-block">
                    <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE1ODA0OTcxOTUyMDE0ODYx/elon-musk-20837159-1-402.png" class="w-32 rounded inline-block">
                  </div>
                  <div class="w-1/3 inline-block align-middle">
                    <h3 class="text-xl font-bold">Elon Musk</h3>
                    <h3 class="text-md font-semibold mb-2">Founder</h3>
                    <img src="https://logos-download.com/wp-content/uploads/2016/03/Tesla_logo_silver.png" class="mx-auto w-24 mb-4">
                  </div>
                  <div class="w-1/3 inline-block align-middle">
                    <%= link_to "Email", "#", target: "blank", class: "btn bg-white mb-2" %>
                    <%= link_to "LinkedIn", "#", target: "blank", class: "btn bg-white mb-2" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="profile-page">
          <div class="flex justify-between max-w-5xl mx-auto p-4 mt-20">
            <div class="container cursor-default inline-block align-top text-left">
              <h1 class="text-2xl font-extrabold">
                Horizontal Profile Card
              </h1>
              <h2 class="text-xl font-medium text-gray-600 mb-4">
                A profile page for more in-depth info
              </h2>
              <button class="btn bg-white" data-clipboard-text="1">
                <ion-icon name="copy"></ion-icon>
                CSS</button>
              <button class="btn bg-white" data-clipboard-text="2">
                <ion-icon name="copy"></ion-icon>
                Tailwind</button>
              <button class="btn bg-white" data-clipboard-text="3">
                <ion-icon name="copy"></ion-icon>
                Bootstrap</button>
            </div>
            <div class="container cursor-default inline-block align-top">
              <div class="card card--light mb-8 content-center text-center justify-center max-w-xl float-right w-full align-top">
                <div class="card__content text-center">
                  <div class="w-1/4 inline-block align-middle hidden sm:inline-block">
                    <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE1ODA0OTcxOTUyMDE0ODYx/elon-musk-20837159-1-402.png" class="w-32 rounded inline-block">
                  </div>
                  <div class="w-1/3 inline-block align-middle">
                    <h3 class="text-xl font-bold">Elon Musk</h3>
                    <h3 class="text-md font-semibold mb-2">Founder</h3>
                    <img src="https://logos-download.com/wp-content/uploads/2016/03/Tesla_logo_silver.png" class="mx-auto w-24 mb-4">
                  </div>
                  <div class="w-1/3 inline-block align-middle">
                    <%= link_to "Email", "#", target: "blank", class: "btn bg-white mb-2" %>
                    <%= link_to "LinkedIn", "#", target: "blank", class: "btn bg-white mb-2" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <script src="https://unpkg.com/ionicons@4.5.9-1/dist/ionicons.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
      <script>
        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function (e) {
          console.log(e);
        });
        clipboard.on('error', function (e) {
          console.log(e);
        });
      </script>
    </body>
