<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
  <%= render 'application/favicon' %>
</head>

<body class="<%= body_class(yield(:body_class)) %>">
  <%= render "shared/flash" %>
  <%= render "shared/navigation" %>

  <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
